@charset "utf-8";
/* CSS Document */

.user{
	position:absolute;
	width:100px;
	height:100px;
	background:#D0D0D0;
	border-top-left-radius:50%;	
	border-top-right-radius:50%;
	top:100px;
	left:50px;
}

.user::before{
	content:"";
	position:absolute;
	width:70px;
	height:70px;
	border-radius:100%;
	background:#fff;	
	top:-40px;
	left:15px;
}

.user::after{
	content:"";
	position:absolute;
	width:60px;
	height:60px;
	border-radius:100%;
	background:#d0d0d0;	
	top:-32px;
	left:20px;
}
